#Contains all the below classes with defined functions
- data_reader.py -> It contains all the methods can be called through import, having functions to deal with different files and their conversion
- database.py -> It contains all the functions to deal with MYSQL database
- date_time_converter.py -> Functions needed to deal with time conversion or fetching current time and converting its format based on input
- exportdb.py -> It contains functions to deal with conversion of data (from excel to json), (from json to excel), (from database to excel) (from database to json)
- face_identifier.py -> The important class which deals with the camera.images and face recognition mechanism
- speech.py -> Google translator which voices the commands as per matching images and the data
